body{
    background:url("../images/fondo-pokemon.png") fixed no-repeat center;
}
div.container-fluid {
    border-radius: 25px;
    background-color: rgba(29, 108, 50, 0.85);
}
div.modal{
    background: url("../images/eetakedex_back2.jpg") fixed no-repeat center;
}
h4{
     color: black;
}
h5{
    color: black;
}
a{
    color:black;
}
p{
    color: black;
}
tr{
    color: black;
}
label{
    color: black;
}
div#email_error div#usuario_error
div#emailConfirm_error{
    color: red;
}



