body{
    background:url("../images/fondo-pokemon.png") fixed no-repeat center;
}
div.container-fluid {
    border-radius: 25px;
    background-color: rgba(29, 108, 50, 0.85);
}
div.container-fluid:hover{

}
h4{
     color: black;
}
h5{
    color: black;
}
a{
    color:black;
}
p{
    color: black;
}
tr{
    color: black;
}
label{
    color: black;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #fff000; /* Set a background color */
    color: #000000; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #ff9300;
}
#descripcion_cont {
    max-width: 100%;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
#descripcion_cont:hover {
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
.loader {
    border: 10px solid rgba(0, 0, 0, 0);
    border-top: 10px solid #fff000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn-primary{
    color: #000000;
    background-color: #fff000;
    font-weight: bold;
    border-color: black;
}

.btn-primary:hover{
    background-color: #FF9300;
    color: #000000;
    border-color: black;
}
